@font-face {
    font-family: 'willywonkaregular';
    src: url('./williewonka_font/willywonka-webfont.woff2') format('woff2'), url('./williewonka_font/willywonka-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: white;
    width: 100%;
    height: 100%;
}

html {
    padding: 10px;
    scroll-snap-type: y mandatory;
}

section {
    margin: 10%;
    scroll-snap-align: start;
}

.sliderh {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.slidesh>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.slidesh {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}

#chocolate-bar {
    filter: drop-shadow(10px 10px 10px #753d22);
    transition: transform .2s;
}

#chocolate-bar:hover {
    transform: scale(1.2);
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
    justify-content: center;
}

.hero {
    height: 100vh;
}

.hero div {
    display: inline-block;
}

#logo {
    grid-column: 2/3;
    font-size: 24px;
}

.hero img {
    width: 100%;
    height: auto;
}

.carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.carousel .carousel-inner {
    height: 100%;
    width: 100%;
}

img {
    vertical-align: middle;
    max-height: 100vh;
    width: 100%;
}

.willie {
    color: #753d22;
    font-family: 'willywonkaregular';
    margin: 3px;
}

p,
.card,
.card-title,
.selectpicker,
.form-check,
.form-select {
    color: #51280d;
    font-family: 18px/1.4 Helvetica, Arial, sans-serif;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    flex: 4;
}

.results {
    overflow-y: auto;
}

#cards {
    flex: 2;
    overflow: scroll;
    height: 80vh;
}

#results {
    flex: 2;
    overflow: scroll;
    height: 80vh;
}

.card {
    color: black;
}

.arc {
    opacity: .6;
    stroke: darkred;
    stroke-linejoin: round;
    fill: none;
}

.country {
    stroke-width: 1px;
    stroke: brown;
    fill: #D1AF94;
    opacity: 0.8;
}

.globe-background {
    fill: #eee;
}

.graticule {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    opacity: 0.8;
}
